{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}


<!-- Content -->
                    <div id="content" class="mobileUI-main-content">
                        <div id="content-inner">
                                
                            <!-- Post -->
                                <article class="is-post is-post-excerpt">
                                    <header>
                                        <!--
                                            Note: Titles and bylines will wrap automatically when necessary, so don't worry
                                            if they get too long. You can also remove the "byline" span entirely if you don't
                                            need a byline.
                                        -->
                                       <h2>正在建设中</h2>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                    </header>
                                    

                                </article>
    

                        </div>
                    </div>



{% endblock %}